@keyframes rotation-bubble {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
@keyframes rotation-bubble-antih {
    from{transform: rotate(0deg)}
    to{transform: rotate(-360deg)}
}
@keyframes bubble {
    000% {transform: translate(000px, 0000px) scale(001, 001);}
    010% {transform: translate(005px, -010px) scale(1.1, 0.9);}
    020% {transform: translate(-10px, -030px) scale(0.9, 1.1);}
    030% {transform: translate(015px, -070px) scale(1.2, 0.8);}
    040% {transform: translate(-20px, -120px) scale(0.8, 1.2);}
    050% {transform: translate(025px, -200px) scale(1.3, 0.7);}
    060% {transform: translate(-30px, -300px) scale(0.7, 1.3);}
    070% {transform: translate(035px, -400px) scale(1.4, 0.6);}
    080% {transform: translate(-40px, -550px) scale(0.6, 1.4);}
    090% {transform: translate(045px, -700px) scale(1.5, 0.5);}
    100% {transform: translate(000px, -900px) scale(001, 001);}
}

.rotation-bubble {animation: rotation-bubble 9s infinite linear;}
.rotation-bubble-antih {animation: rotation-bubble-antih 6s infinite linear;}
.bubble {
    animation: bubble 10s cubic-bezier(0.25, 1.5, 0.5, -0.5) infinite;
    transform-origin: center;
}