html, body{
  font-family: 'Authentic Sans';
  color: var(--font-color);
  font-size: var(--font-size);

  width: 100%;
  height: 100%;

  z-index : 1;
}

/* flex grow params */
/* inside body */
.header{flex-grow: 1;}
.main-cont{flex-grow: 8;}
.footer{flex-grow: 1;}

/* inside main-cont */
.bio{flex-grow: 2;}
.search-cont{flex-grow: 8;}

.bio-cont, .search-cont{
  width: 100%;
}

.bio{
  max-width : 80%;
  padding: 20px 0;
}

.input-label{
  z-index : 0 !important;
  font-size : calc(var(--font-size) * 1.5);
}

.search-bar{
  border: none;
  border-bottom : 2px solid var(--font-color);

  width : 100%;
  max-width : 250px;

  font-size : calc(var(--font-size) * 1.5);
}

.search-bar:focus, #cars:focus{
  outline : none;
}

.search-cont > div, .search-cont > span, .search-cont > input{
  margin : 20px 0;
}

.search-suggestion, .search-result{
  padding : var(--padding);
  border-radius : 20px;
}

.search-suggestion{
  border : 0 !important;
  color : var(--font-color);
  background-color: var(--light-blue-accent);
}

.all-results, .suggestions{
  flex-wrap: wrap;
}

.all-results{
  width : 60%;

}

.no-result{
  color : lightgray;
}

.search-result{
  border : 2px solid var(--font-color);
  border-radius: 20px;
}

.weird-result{
  color : var(--light-disabled-red);
}

.weird-result-suggestion{
  color : var(--dark-green);
  text-decoration: underline;

  cursor : pointer;

  margin : 0 13px;
}

.disabled-project{
  cursor : not-allowed;

  color : var(--dark-disabled-red);
  background-color : var(--light-disabled-red);
  border : 2px solid var(--dark-disabled-red);
}

.project-sample{
  z-index : 3;
  border : 4px solid #e3e3e3;
  background : #e3e3e3;
  border-radius : 10px;
  position : absolute;
  padding : 4px;

  max-width : 21%;
  width : 350px;

  box-shadow : #999 0 0 5px 0px;

  cursor : move;
  transition : ease all .5s;
}

.project-sample-header{
  width : 100%;
}

.project-sample-header-title{
  margin-left : auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  text-decoration : underline;
  cursor : pointer;
}

/* .project-sample-header-title::before{
  display : inline-block;
  content : "check out : ";
  opacity : 0.5;
  text-decoration :none;
  margin-right : 3px;
  cursor : default !important;
} */


.project-sample-header-actions-close, .project-sample-header-actions-open{
  --button-size : 16px;
  cursor : pointer;

  border-radius: 100%;
  width: var(--button-size);
  height: var(--button-size);

  margin-right : 6px;

  display : flex;
  flex-direction : row;
  align-items : center;
  justify-content : center;
}

.project-sample-header-actions-close {
  background: var(--light-disabled-red);
}

.project-sample-header-actions-close::after {
  color : var(--dark-disabled-red);
  content : '×';
  transition : ease all .5s;
}

.project-sample-header-actions-open {
  background: var(--light-green);
}

.project-sample-header-actions-open::after {
  transform: rotate(45deg);
  color : var(--dark-green);
  content : '×';
  transition : ease all .5s;
}

.project-sample img{
  border-radius : 10px;
  width : 100%;
  transition : ease all .5s;
}