@keyframes rotation {from {transform: rotate(38deg);}to {transform: rotate(398deg);}}
@keyframes blink{70%{opacity: .2;}}

.rotate {animation: rotation 60s infinite linear;}
.blink {animation : blink 7s infinite linear}

body{
  font-family : 'Arial';
  color : white;
  
  width : 100vw; 
  height : 100vh; 
  overflow : hidden; 
  
  background : no-repeat center center fixed #0101a2; 
  background-size : cover; 
  
  display : flex; 
  flex-direction : column;
  justify-content : center; 
  
  margin : auto; 
  padding : auto;
}

.margin-auto{margin : auto;}
.center{text-align : center}

.gift-link{
  font-size : 3vh;
  border-radius : 200px;
  background : white;
  padding : 32px 64px;
  text-decoration : none;
}

.icons-links{
  padding : 20px;
  margin : 20px;
  color :white;
}

.soundcloud-link, .instagram-link { color : white}
.trash{
  background : url('img/elodie.png') #000092 no-repeat center center fixed; overflow : visible
}